.footer {
  margin-top: 100px;
  padding: 50px 0;
  display: flex;
  flex-flow: row;
  justify-content: space-around;

  background-color: #00796b;

  &--section {
    p {
      margin: 10px 0;
      color: #ccc;
    }
  }
}

.sub-footer {
  background-color: #00796b;
  display: flex;
  justify-content: center;
  flex-flow: row;
  padding-bottom: 10px;
}
