<div class="footer">
  <div class="footer--section">
    <h6>About Us</h6>

    <p>About Jiji</p>
    <p>We are hiring!</p>
    <p>Terms & Conditions</p>
    <p>Privacy Policy</p>
    <p>Billing Policy</p>
  </div>

  <div class="footer--section">
    <h6>Support</h6>

    <p>support@jiji.ug</p>
    <p>Safety Tips</p>
    <p>Contact Us</p>
    <p>FAQ</p>
  </div>

  <div class="footer--section">
    <h6>Our Apps</h6>

    <p>App Store</p>
    <p>Google Play</p>
  </div>

  <div class="footer--section">
    <h6>Our Resources</h6>

    <p>Jiji on FB</p>
    <p>Our Instagram</p>
    <p>Our Youtube</p>
    <p>Our Twitter</p>
  </div>

  <div class="footer--section">
    <h6>Hot Links</h6>

    <p>Brand</p>
    <p>Jiji Sellers</p>
    <p>Regions</p>
    <p>Jiji Africa</p>
  </div>
</div>

<div class="sub-footer">&copy; 2021 jiji-clone App</div>
