<div class="hero">
  <div class="content">
    <p>
      Find anything in
      <span><i class="bi bi-geo-alt-fill"></i> All Uganda</span>
    </p>

    <form>
      <div class="row">
        <input
          type="text"
          placeholder="Type your search here"
          id="exampleEmailInput"
        />
        <button class="button-primary"><i class="bi bi-search"></i></button>
      </div>
    </form>
  </div>
</div>

<div class="main">
  <div class="row">
    <div class="three columns">
      <div class="sidebar">
        <div class="sidebar--item">
          <div class="adjust">
            <div class="sidebar--item--icon">
              <i class="bi bi-truck"></i>
            </div>
            <div class="sidebar--item--content">
              <div class="sidebar--item--name">Vehicles</div>
              <div class="sidebar--item--count">30,014 ads</div>
            </div>
          </div>
          <div class="sidebar--item--icon">
            <i class="bi bi-arrow-right-square"></i>
          </div>
        </div>

        <div class="sidebar--item">
          <div class="adjust">
            <div class="sidebar--item--icon">
              <i class="bi bi-shop"></i>
            </div>
            <div class="sidebar--item--content">
              <div class="sidebar--item--name">Property</div>
              <div class="sidebar--item--count">29,414 ads</div>
            </div>
          </div>
          <div class="sidebar--item--icon">
            <i class="bi bi-arrow-right-square"></i>
          </div>
        </div>

        <div class="sidebar--item">
          <div class="adjust">
            <div class="sidebar--item--icon">
              <i class="bi bi-phone"></i>
            </div>
            <div class="sidebar--item--content">
              <div class="sidebar--item--name">Mobile Phones & Tablets</div>
              <div class="sidebar--item--count">67,438 ads</div>
            </div>
          </div>
          <div class="sidebar--item--icon">
            <i class="bi bi-arrow-right-square"></i>
          </div>
        </div>

        <div class="sidebar--item">
          <div class="adjust">
            <div class="sidebar--item--icon">
              <i class="bi bi-laptop"></i>
            </div>
            <div class="sidebar--item--content">
              <div class="sidebar--item--name">Electronics</div>
              <div class="sidebar--item--count">48,574 ads</div>
            </div>
          </div>
          <div class="sidebar--item--icon">
            <i class="bi bi-arrow-right-square"></i>
          </div>
        </div>

        <div class="sidebar--item">
          <div class="adjust">
            <div class="sidebar--item--icon">
              <i class="bi bi-suit-heart-fill"></i>
            </div>
            <div class="sidebar--item--content">
              <div class="sidebar--item--name">Health & Beauty</div>
              <div class="sidebar--item--count">6,152 ads</div>
            </div>
          </div>
          <div class="sidebar--item--icon">
            <i class="bi bi-arrow-right-square"></i>
          </div>
        </div>

        <div class="sidebar--item">
          <div class="adjust">
            <div class="sidebar--item--icon">
              <i class="bi bi-smartwatch"></i>
            </div>
            <div class="sidebar--item--content">
              <div class="sidebar--item--name">Fashion</div>
              <div class="sidebar--item--count">14,328 ads</div>
            </div>
          </div>
          <div class="sidebar--item--icon">
            <i class="bi bi-arrow-right-square"></i>
          </div>
        </div>

        <div class="sidebar--item">
          <div class="adjust">
            <div class="sidebar--item--icon">
              <i class="bi bi-geo-fill"></i>
            </div>
            <div class="sidebar--item--content">
              <div class="sidebar--item--name">Sports, Arts & Outdoors</div>
              <div class="sidebar--item--count">30,014 ads</div>
            </div>
          </div>
          <div class="sidebar--item--icon">
            <i class="bi bi-arrow-right-square"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="nine columns">
      <div class="info">
        <div class="row">
          <div class="eight columns">
            <div class="card">
              <h3>Safety Tips</h3>
              <a href="#">We are highly focused on your security</a>
            </div>
          </div>
          <div class="four columns">
            <div class="card">
              <i class="bi bi-patch-check-fill"></i>
              <p>Get your ad on top</p>
            </div>
          </div>
        </div>
      </div>

      <h5>Trending ads</h5>

      <div class="row">
        <div class="trending four columns">
          <app-ad-thumb></app-ad-thumb>
          <app-ad-thumb></app-ad-thumb>
          <app-ad-thumb></app-ad-thumb>
          <app-ad-thumb></app-ad-thumb>
          <app-ad-thumb></app-ad-thumb>
          <app-ad-thumb></app-ad-thumb>
          <app-ad-thumb></app-ad-thumb>
          <app-ad-thumb></app-ad-thumb>
          <app-ad-thumb></app-ad-thumb>
          <app-ad-thumb></app-ad-thumb>
          <app-ad-thumb></app-ad-thumb>
          <app-ad-thumb></app-ad-thumb>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
