<nav class="nav">
  <div class="logo">
    <a href="#">
      JijiClone<span>.ug</span>
    </a>
  </div>

  <div class="menu">
    <div class="left">
      <div class="item">
        <i class="bi bi-star" style="font-size: 2rem;"></i>
      </div>
      <div class="item">
        <i class="bi bi-chat-left-text-fill" style="font-size: 2rem;"></i>
      </div>
      <div class="item">
        <i class="bi bi-bell-fill" style="font-size: 2rem;"></i>
      </div>
      <div class="item">
        <i class="bi bi-x-diamond-fill" style="font-size: 2rem;"></i>
      </div>
      <div class="item">
        <i class="bi bi-list-task" style="font-size: 2rem;"></i>
      </div>
    </div>
    <div class="right">
      <div class="item">
        <i class="bi bi-person-bounding-box" style="font-size: 2rem;"></i>
      </div>
      <div class="item-button">
        <button class="button-primary">SELL</button>
      </div>
    </div>
  </div>
</nav>
